<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Form
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form" style="align-items: center;">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/signup']" (click)="register()" expand="block" color="primary">Register</ion-button>
        <!-- <span class="divider line one-line">or</span> -->
        <ion-row class="ion-align-items-center" style="margin: 10px 0px 0px 0px;">
          <ion-col size="5">
            <ion-item-divider class="line"></ion-item-divider>
          </ion-col>
          <ion-col  class="ion-text-center">
            {{ 'or' }}
          </ion-col>
          <ion-col size="5">
            <ion-item-divider class="line"></ion-item-divider>
          </ion-col>
        </ion-row >
        <span style="margin-top: 20px;" class="already">Already a user?</span>
        <ion-button style="margin-top: 20px;" [routerLink]="['/login']" (click)="signin()" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>