<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="resetpasword">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="reset" required></ion-input>
    </ion-item>
    <!-- <ng-container>
<ion-text *ngIf="resetpasword.get('reset')?.invalid && (resetpasword.get('reset')?.touched || resetpasword.get('reset')?.dirty )" color="danger">  provide valid email
</ion-text>
    </ng-container> -->
    <ng-container *ngFor="let error of errors.reset">
      <ion-text  *ngIf="resetpasword.get('reset')?.hasError(error.type) && (resetpasword.get('reset')?.dirty || resetpasword.get('reset')?.touched)" color="danger" style="font-size: 12px;">
        {{ error.message }}
      </ion-text>
    </ng-container>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="send()" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Please provide the  email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
</ion-content>