<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>welcome to the {{name}} page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>  
    
    <ion-list>  
      <ion-item>Name: {{ name }}</ion-item>
      <ion-item>Email: {{ email }}</ion-item>
      <ion-item>Number: {{ number }}</ion-item>
      <ion-item>Date of Birth: {{ dateOfBirth }}</ion-item>
      <ion-item>Gender: {{ gender }}</ion-item>
      <ion-item>Skills: {{ skills }}</ion-item>        
    </ion-list>  
  </ion-card>  
</ion-content>
